* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 10px 30px auto 40px;
  align-items: center;
  font-family: sans-serif;
}

.row1 {
  grid-row: 2;
}

.row2 {
  grid-row: 3;
}

.row3 {
  grid-row: 4;
  align-self: stretch;
  border-top: 1px solid #e3e3e3;
  background: #f2f2f2;
}

.nav {
  font-size: 14px;
}

footer .nav {
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 10px;
}

footer .nav a {
  color: #666;
}

.nav a {
  margin: auto 8px;
  text-decoration-line: none;
  color: black;
}

.nav-right {
  text-align: right;
}

.float-right {
  float: right;
}

.icon {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.signin {
  padding: 6px;
  font-weight: bold;
  background-color: #3480F3;
  border-radius: 3px;
  color: white !important;
}


.main {
  text-align: center;
}

.logo {
  display: block;
  width: 30%;
  min-width: 250px;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.search-form input[type="text"] {
  display: block;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  margin: 15px auto;
}

.search-form button {
  margin: auto 10px;
  padding: 10px 8px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #666;
}

.search-form button:hover {
  border: 1px solid #e3e3e3;
  box-shadow: 1px 1px 1px #aaa;
}